@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:900");
body {
  margin: 0;
  font-family: 'Source Sans Pro';
}
a {
  text-decoration: none;
  color: inherit;
}
.menu {
  top: 0 !important;
  background: #fafafa;
  z-index: 999;
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  transition-duration: 0.4s;
  color: #777;
}
.menu--transparent {
  background: transparent;
  color: #fff;
}
.menu--transparent .menu__logo p {
  color: #fff;
}
.menu--transparent .menu__logo p:hover {
  color: #fff;
  opacity: 0.9;
}
.menu--transparent .menu__button:after,
.menu--transparent .menu__button:before {
  border-bottom: 2px solid #fff;
}
.menu--transparent .menu__button:hover {
  color: #fff;
}
.menu__logo {
  height: 100%;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.menu__logo p {
  cursor: pointer;
  transition: all 0.06s;
}
.menu__logo p:hover {
  color: #222;
}
.menu__buttons {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu__button {
  min-width: 160px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.12s;
}
.menu__button:after,
.menu__button:before {
  content: '';
  display: block;
  position: absolute;
  margin: 3px;
  border-bottom: 2px solid #444;
  width: 0;
  bottom: 8px;
  transition: all 0.12s;
}
.menu__button:hover {
  color: #222;
}
.menu__button:hover:after,
.menu__button:hover:before {
  width: 50px;
}
.heading {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 145px 70px;
  background-image: url("../images/background.svg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-position-x: right;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.heading__stack {
  position: absolute;
  top: 200px;
  left: -100px;
  right: 0;
  height: 472px;
  z-index: 3;
  width: 340px;
}
.heading__profile {
  position: absolute;
  margin: 0 auto;
  top: -110px;
  left: 0;
  right: 0;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-image: url("https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/26230556_1686468704707988_8072345125610695221_n.jpg?oh=dfa27f39568448403a24d6ceb562bc04&oe=5B18C0F6");
  background-size: cover;
}
.heading__about {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
  padding: 70px 45px;
  color: #fff;
  text-shadow: 0 0 56px rgba(0,0,0,0.6);
  background: inherit;
  overflow: hidden;
  max-width: 700px;
}
.heading__about:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 60px rgba(255,255,255,0.2);
  filter: blur(12px);
  transition-duration: 1s;
}
.heading__about:hover:after {
  filter: blur(0px);
}
.heading__content {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.heading__content h1 {
  font-weight: 900;
  font-family: 'Maven Pro';
  font-size: 2em;
  position: relative;
  color: #fff;
}
.heading__content h1:after {
  content: '';
  top: 6px;
  transform: translateX(6px);
  display: inline-block;
  position: absolute;
  height: 33px;
  width: 6px;
  background: #fff;
  animation: blink 1.23s linear infinite alternate;
}
.heading__content p {
  font-size: 1.2em;
  font-weight: 100;
}
.intro {
  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  grid-template: 1fr/1fr 1fr;
}
.intro p {
  font-size: 1.2em;
  color: #555;
  font-weight: 100;
  margin-left: 5px;
}
.intro__slot {
  width: 100%;
  box-sizing: border-box;
  padding: 120px 50px;
}
.intro__title {
  font-family: 'Maven Pro';
  text-align: left;
  font-size: 1.3em;
}
.intro__title:after {
  content: '';
  display: block;
  margin-top: 4px;
  width: 53px;
  border-bottom: 3px solid #222;
}
.portfolio {
  width: 100%;
  background: linear-gradient(to right, #05a9a6, #054780);
  color: #fff;
  box-sizing: border-box;
  padding: 145px 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__background {
  position: absolute;
  right: 20px;
  top: 200px;
}
.portfolio__title {
  font-family: 'Maven Pro';
  margin: 7px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}
.portfolio__title:after {
  content: '';
  display: block;
  margin: 7px auto;
  width: 320px;
  height: 2px;
  background: #fff;
}
.portfolio__projects {
  max-width: 1300px;
  margin: 40px auto;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  padding: 15px;
  box-sizing: border-box;
  grid-gap: 60px;
  width: 100%;
}
.project {
  position: relative;
  width: 380px;
  height: 82px;
  margin: 0 auto;
}
.project--primary .project__title {
  color: #05a9a6;
}
.project--primary .project__title:after {
  border-bottom: 3px solid #05a9a6;
}
.project__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.953);
  min-height: 82px;
  padding: 18px;
}
.project__title {
  font-family: 'Maven Pro';
  color: rgba(0,0,0,0.8);
  font-size: 1.5em;
  font-weight: 700;
  transition-duration: 0.2s;
}
.project__title:hover {
  opacity: 0.85;
}
.project__title:after {
  content: '';
  display: block;
  margin-top: 4px;
  width: 22%;
  border-bottom: 3px solid rgba(0,0,0,0.8);
}
.project__about {
  margin-top: 4px;
  color: rgba(0,0,0,0.5);
  font-size: 0.92em;
  font-weight: 200;
  max-width: 90%;
}
.project__annotation {
  position: absolute;
  bottom: 18px;
  right: 18px;
  font-weight: 200;
  font-style: italic;
  font-size: 0.92em;
  color: rgba(0,0,0,0.3);
}
.offer {
  width: 100%;
  color: #222;
  background-color: #fff;
  box-sizing: border-box;
  padding: 145px 10px;
  position: relative;
  overflow: hidden;
}
.offer__title {
  font-family: 'Maven Pro';
  margin: 7px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}
.offer__title:after {
  content: '';
  display: block;
  margin: 7px auto;
  width: 320px;
  height: 2px;
  background: #222;
}
.offer__header {
  margin: 45px auto 35px auto;
  padding: 20px;
  max-width: 350px;
  box-shadow: 0 0 32px rgba(0,0,0,0.2);
  color: #555;
}
.offer__offers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.offerBox {
  position: relative;
  width: 390px;
  height: 520px;
  padding: 25px;
  text-align: center;
  margin: 15px auto;
  color: #fff;
  box-shadow: 0 0 32px rgba(0,0,0,0.2);
  text-shadow: 0 0 32px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offerBox:nth-child(1) {
  background: linear-gradient(to right, #05a9a6, #046681);
}
.offerBox:nth-child(2) {
  background: linear-gradient(to right, #834faf, #ff42e5);
}
.offerBox__title {
  font-family: 'Maven Pro';
  margin: 7px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  z-index: 2;
}
.offerBox__description {
  margin: 7px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 100;
  z-index: 2;
}
.offerBox__button {
  font-family: 'Maven Pro';
  position: absolute;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 900;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 200px;
  background: #fff;
  border: 2px solid #057792;
  color: #057792;
  transition-duration: 0.2s;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 32px rgba(0,0,0,0.2);
  z-index: 2;
}
.offerBox__button--second {
  color: #bd49c8;
  border-color: #bd49c8;
}
.offerBox__button:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: #222;
  color: #eee;
  text-align: center;
}
.contact {
  width: 100%;
  color: #fff;
  background: linear-gradient(to left, #05a9a6, #054780);
  box-sizing: border-box;
  padding: 115px 0;
  position: relative;
  overflow: hidden;
}
.contact__title {
  font-family: 'Maven Pro';
  margin: 7px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}
.contact__title:after {
  content: '';
  display: block;
  margin: 7px auto;
  width: 320px;
  height: 2px;
  background: #fff;
}
.contact__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/background3.svg");
  background-size: cover;
  background-position: top;
  background-position-x: right;
  z-index: 1;
}
.contact__man {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 300px;
  height: 217px;
  background-size: contain;
  background-image: url("../images/violet_man.svg");
  z-index: 3;
}
.contact__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.contact__input {
  width: 90%;
  max-width: 500px;
  border: none;
  margin: 10px;
  padding: 15px 22px;
  background: #fff;
  box-shadow: 0 0 32px rgba(0,0,0,0.2);
  color: #222;
  font-size: 1.2em;
  text-align: left;
  opacity: 0.9;
  z-index: 2;
}
.contact textarea {
  min-height: 300px;
}
.contact__button {
  font-family: 'Maven Pro';
  padding: 10px;
  font-size: 1.3em;
  font-weight: 900;
  margin: 10px auto;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 200px;
  background: #fff;
  border: 2px solid #057792;
  color: #057792;
  transition-duration: 0.2s;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 32px rgba(0,0,0,0.2);
  z-index: 2;
}
.contact__button:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
@media screen and (max-width: 960px) {
  .portfolio__projects {
    grid-template: 1fr/1fr 1fr;
  }
  .menu {
    display: none;
  }
  .heading {
    margin-top: 0;
    height: auto;
    padding: 60px;
  }
  .heading__about .heading__stack {
    top: 70px !important;
  }
  .intro__slot {
    padding: 110px 60px;
  }
}
@media screen and (max-width: 660px) {
  .project {
    padding: 10px;
    width: 305px;
  }
  .portfolio__projects {
    grid-template: 1fr/1fr;
  }
  .intro {
    grid-template: 1fr/1fr;
  }
  .intro__slot {
    padding: 52px 30px;
  }
  .heading {
    padding: 20px;
  }
  .heading__about h1 {
    font-size: 1.8em;
  }
  .heading__about h1:after {
    display: none;
  }
  .offer__offers {
    flex-direction: column;
  }
}
.float {
  animation-name: float;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.rotate {
  animation-name: rotate;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.revealOnScroll {
  opacity: 0;
}
.revealAnimation {
  animation-name: reveal;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.83, -0.07, 0.28, 1.25);
  animation-fill-mode: forwards;
}
@-moz-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-o-keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
