html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Karol Świerczek - Portfolio
		link(rel="stylesheet" href="css/style.css")
	body
		.menu.menu--transparent
			.menu__logo
				p Karol Świerczek
			nav.menu__buttons
				.menu__button.smoothScroll(href='home') Home
				.menu__button.smoothScroll(href='aboutMe') About me
				.menu__button.smoothScroll(href='myPortfolio') My portfolio
				.menu__button.smoothScroll(href='contact') Contact
		section.heading#home
			.heading__stack.float
				img(src='images/stack.svg' height='700px')
			.heading__about
				.heading__content
					h1 Karol Świerczek
					p I'm an 18 year old web developer from Poland, and programming and creative ideas are my biggest passions. I love to transform whatever crazy thoughts spring into my mind into more and more intriguing projects.
		section.intro#aboutMe
			.intro__slot.revealOnScroll
				.intro__title About me
				p I've been programming since I was twelve, but I've been putting all my effort into it for the last two years. Every single day I'm learning how to create better and more sophisticated projects, and therefore I'm determined to improve and learn from my mistakes.
			.intro__slot.revealOnScroll
				.intro__title My workflow
				p A day without coding is a day lost (just look on my github's contribution graph). If I'm not coding that means that I'm probably studying or (sometimes) sleeping. In my spare time I also like to read books, though.
		section.portfolio#myPortfolio
			.portfolio__background.float
				img(src='images/background2.svg')
			.portfolio__title My portfolio
			#projects.portfolio__projects
		section.contact#contact
			.contact__title Contact me
			.contact__websites
				a(href="https://www.facebook.com/karolswierczek2" target="_blank")
					.contact__website
						.contact__image
							img(src="images/facebook.png")
						.contact__websiteTitle Facebook
				a(href="https://www.freelancer.com/u/karolsw2" target="_blank")
					.contact__website
						.contact__image
							img(src="images/freelancer.jpg")
						.contact__websiteTitle Freelancer.com
				a(href="https://github.com/karolsw3" target="_blank")
					.contact__website
						.contact__image
							img(src="images/github.png")
						.contact__websiteTitle Github
		footer.footer Icons, background and the whole website made with ❤ by Karol Świerczek
		script(src='js/index.js')
