html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Karol Świerczek - Portfolio
		link(rel="stylesheet" href="css/style.css")
	body
		.menu.menu--transparent
			.menu__logo
				p Karol Świerczek
			.menu__buttons
				.menu__button Home
				.menu__button About me
				.menu__button My portfolio
				.menu__button Offer
				.menu__button Contact
		.heading
			.heading__stack.float
				img(src='images/stack.svg' height='700px')
			.heading__about
				.heading__stack.float
					img(src='images/stack.svg' height='700px')
				.heading__content
					h1 Karol Świerczek
					p I'm an 18 year old web developer from Poland, and programming and creative ideas are my biggest passions. I love to transform whatever crazy thoughts spring into my mind into more and more intriguing projects.
		.intro
			.intro__slot.revealOnScroll
				.intro__title About me
				p I've been programming since I was twelve, but I've been putting all my effort into it for the last year. Every single day I'm learning how to create better and more advanced projects and so I'm determined to improve and learn from my mistakes.
			.intro__slot.revealOnScroll
				.intro__title My workflow
				p A day without coding is a day lost (just look on my github contribution graph). If I'm not coding that means that I'm probably studying or (sometimes) sleeping. In my spare time I also like to read books, though.
		.portfolio
			.portfolio__background.float
				img(src='images/background2.svg')
			.portfolio__title My portfolio
			#projects.portfolio__projects
				.project.revealOnScroll(v-for='(project, index) in projects' :class="{ 'project--primary': index < 3 }")
					.project__desc
						.project__photo(v-if='index < 3')
							img(:src='project.image')
						a.project__title(target='_blank' :href='project.url') {{project.title}}
						.project__about {{project.about}}
						.project__annotation {{project.annotation}}
		.footer Icons, background and the whole website made with ❤ by Karol Świerczek
		script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js')
		script(src='js/index.js')

