@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900')
// Animations
@keyframes rotate
	from
		transform rotate(0deg)
	to
		transform rotate(360deg)
@keyframes blink
	50%
		opacity 0
	100%
		opacity 1
@keyframes float
	0%
		transform translateY(0)
	50%
		transform translateY(-80px)
	100%
		transform translateY(0px)
.float
	animation-name float
	animation-duration 15s
	animation-iteration-count infinite
.rotate
	animation-name rotate
	animation-duration 50s
	animation-iteration-count infinite
	animation-timing-function linear
//
body
	margin 0
	font-family 'Source Sans Pro'
.menu
	top 0 !important
	background rgba(255, 255, 255, .85)
	z-index 999
	width 100%
	height 60px
	position fixed
	display flex
	justify-content space-between
	align-items center
	white-space nowrap
	&__logo
		height 100%
		display flex
		padding 0 30px
		align-items center
		justify-content center
		color #777
		box-sizing border-box
		p
			cursor pointer
			transition all .06s
			&:hover
				color #222
	&__buttons
		position relative
		display flex
		align-items center
		height 100%
	&__button
		min-width 160px
		height 100%
		box-sizing border-box
		padding 10px 30px
		color #777
		cursor pointer
		display flex
		justify-content center
		align-items center
		transition all .12s
		&:after,&:before
			content ''
			display block
			position absolute
			margin 3px
			border-bottom 2px solid #444
			width 0
			bottom 8px
			transition all .12s
		&:hover
			color #222
			&:after,&:before
				width 50px
.heading
	position relative
	width 100%
	margin-top 60px
	box-sizing border-box
	padding 115px 40px
	background-image url('../images/background.svg')
	background-size cover
	display flex
	justify-content center
	overflow hidden
	&__stack
		position absolute
		top 130px
		left 188px
		right 0
		height 472px
	&__profile
		position absolute
		margin 0 auto
		top -110px
		left 0
		right 0
		width 180px
		height 180px
		border-radius 100%
		background-image url('https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/26230556_1686468704707988_8072345125610695221_n.jpg?oh=dfa27f39568448403a24d6ceb562bc04&oe=5B18C0F6')
		background-size cover
	&__about
		display block
		margin 0 auto
		width 80%
		max-width 910px
		z-index 2
		padding 70px 45px
		border 1px solid #fff
		text-align center
		color #fff
		background rgba(0, 0, 0, 0.2)
		h1
			font-weight 900
			font-size 2em
			position relative
			color #fff
			&:after
				content ''
				top 7px
				transform translateX(4px)
				display inline-block
				position absolute
				height 33px
				width 6px
				background #fff
				animation blink 1.23s linear infinite alternate
		p
			font-size 1.2em
			font-weight 100
.intro
	margin 0 auto
	max-width 1100px
	display grid
	grid-template 1fr / 1fr 1fr
	p
		font-size 1.2em
		color #555
		font-weight 100
	&__slot
		width 100%
		box-sizing border-box
		padding 90px 30px
	&__title
		margin 7px
		text-align left
		font-size 1.3em
		&:after
			content ''
			display block
			width 43px
			border-bottom 2px solid #222
.portfolio
	width 100%
	background linear-gradient(to right, #05a9a6, #054780)
	color white
	box-sizing border-box
	padding 40px 10px
	position relative
	overflow hidden
	&__background
		position absolute
		right 20px
		top 20px
	&__title
		margin 7px
		text-align center
		font-size 2em
		font-weight 700
		&:after
			content ''
			display block
			margin 7px auto
			width 320px
			height 2px
			background white
	&__projects
		max-width 1300px
		margin 40px auto
		display grid
		grid-template 1fr 1fr / 1fr 1fr
		padding 15px
		box-sizing border-box
		grid-gap 15px
		width 100%
.project
	padding 13px 50px
	box-shadow 0 0 16px rgba(0, 0, 0, 0.3)
	background white
	color #333
	min-height 75px
	display flex
	flex-direction column
	align-items center
	justify-content center
	cursor pointer
	transition all .12s
	z-index 2
	&:hover
		opacity .9
	&__title
		font-size 1.3em
		font-weight 900
	&__description
		text-align center
		font-weight 100
@media screen and (max-width: 960px)
	.menu
		display none
	.heading
		margin-top 0
		height 600px
		padding 60px
@media screen and (max-width: 660px)
	.project
		padding 10px
	.portfolio__projects
		grid-template 1fr/ 1fr
	.intro
		grid-template 1fr/ 1fr
		&__slot
			padding 52px 30px
	.heading
		padding 20px
	.heading__about
		h1
			font-size 1.8em
			&:after
				display none